### Hello!

![JavaScript](https://img.shields.io/badge/JavaScript-{{ colors.primary.default.hex_stripped }}?style=for-the-badge&logo=javascript&logoColor={{ colors.on_primary.default.hex_stripped }})
