### Nowadays I'm heavily using

**Stack:** Vue.js, Bun.js, esbuild, C++.

**Codeium AI:** Free GitHub Copilot alternative.

**Gemini:** Best at everything. Explaining, comparing or suggesting modern code but sometimes hallucinates. For that reason having to rely on GPT-4. Google is constantly updating Gemini, maybe fixed in upcoming v1.5 with 1 million tokens. Can't wait to try.

**Stable Diffusion XL:** Creating art and character LoRAs in Kaggle (Google Colab alternative). Good they offer free GPU.

**Raindrop:** Bookmark manager with thumbnail previews.

### To keep myself updated

**Reddit:** [r/webdev](https://sh.reddit.com/r/webdev)<br>
**Fireship:** [YouTube](https://www.youtube.com/c/fireship)<br>
**daily.dev:** [Profile](https://app.daily.dev/rakibgoogle/upvoted)<br>

What's new in Android 15 Developer Preview?<br>
Which apps are getting Material 3 redesign? UI changes screenshots?<br>
This kind of news from [**9To5Google**](https://9to5google.com) & [**Android Police**](https://www.androidpolice.com)

### Hobbies

Only 2 currently. Coding and music. A playlist with 700+ curated music which I've been collecting for 5 years. YouTube playlists are troublesome to maintain. Sometimes channels delete or private their video and YouTube hides them without telling the title of unavailable videos so that I can search and re-add. Wrote a [script](https://github.com/rakibdev/dotfiles/blob/main/home/rakib/Downloads/apps-script/youtube-playlist-export/app.js) for this which exports videos details in JSON.

### OS

![](https://img.shields.io/badge/Android%2014-{{ colors.primary.default.hex_stripped }}?logo=android&logoColor={{ colors.on_primary.default.hex_stripped }})&nbsp;
![](https://img.shields.io/badge/Chrome%20OS-{{ colors.primary.default.hex_stripped }}?logo=google-chrome&logoColor={{ colors.on_primary.default.hex_stripped }})&nbsp;
![](https://img.shields.io/badge/Arch%20Linux-{{ colors.primary.default.hex_stripped }}?logo=arch-linux&logoColor={{ colors.on_primary.default.hex_stripped }})
